/** Type **/
	@font-face {
		font-family: Montserrat-Bold;
		src: url('/font/montserrat/Montserrat-Bold.otf');
	}
	$font-family: Montserrat-Bold, Arial, sans-serif;



/** Layout **/
	$header-height: 29px;
	$banner-height: 49px;