/** Banner **/
	section.banner {
		padding: 10px 20px;
		width: calc(100% - 40px);
		height: calc($banner-height - 20px);
		border-bottom: 1px solid #ddd;

		h2 {
			position: relative;
			top: -2px;
			margin: 0 20px 0 0;
			padding: 0;
			display: inline-block;
			font-size: 1.1em;
			text-transform: lowercase;
			color: lighten(#2FCAFC, 25%);
		}
		ul {
			display: inline-block;
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				display: inline-block;
				font-family: $font-family;
				font-size: 0.6em;
				color: #333;

				span {
					margin-left: 3px;
					font-size: 1.3em;
					color: darken(#2FCAFC, 10%);
				}
				h6 {
					margin: 0;
					text-transform: lowercase;
				}
			}
			li:not(:last-child) {
				margin-right: 30px;
			}
		}
	}