/** Header **/
	section.header {
		padding: 5px 20px;
		width: calc(100% - 40px);
		height: calc(#{$header-height});
		background-color: #fff;
		border-bottom: 1px solid #eee;

		div.logo {
			float: left;
			width: calc(#{$header-height});
			height: calc(#{$header-height});

			img {
				width: 100%;
			}
		}
		nav {
			float: left;
			margin-left: 20px;
			padding: 11px 0;

			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					display: inline-block;
					text-transform: uppercase;
					font-family: $font-family;
					font-size: 0.9em;
					color: #858688;

					a {
						text-decoration: none;
						color: inherit;
						outline: none;
					}
				}
				li:not(:last-child) {
					margin-right: 30px;
				}
			}
		}
		div.help {
			position: relative;
			float: right;
			padding: 6px 0;
			cursor: pointer;

			i {
				font-size: 1.5em;
				color: #858688;

				&.active {
					color: lighten(#858688, 25%);
				}
			}
			div.help-text {
				position: absolute;
				right: 6px;
				top: 40px;
				padding: 12px 10px 12px 15px;
				width: 300px;
				background-color: rgba(0, 0, 0, 0.7);
				border: 1px solid #000;
				z-index: 100000;

				h4, p {
					-webkit-touch-callout: none;
					-webkit-user-select: none;
					-khtml-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					user-select: none;
				}
				h4 {
					margin: 0 0 6px 0;
					font-weight: normal;
					font-size: 0.9em;
					color: #999;
				}
				p {
					margin: 0;
					padding: 0;
					font-size: 0.9em;
					color: #bbb;
					line-height: 1.5em;
				}
			}
		}
	}