/** Map **/
	section.map {
		float: left;
		width: calc(100% - 250px);
		height: calc(100% - #{$banner-height});
	}
	div.station-marker {
		position: absolute;
		width: 8px;
		height: 8px;
		font-size: 12px;
		background-color: #fff;
		border-radius: 50%;
		cursor: pointer;

		&.active {
			background-color: darken(#2FCAFC, 10%);
			border-color: darken(#2FCAFC, 10%);
		}
	}